
@import 'lib/alpha';
@import 'lib/lab';

$white: #fff;
$black: #000;

// Colors
$primary: lab(60, 31, -64);

// Desaturated Light
$light-600: lab(95, 0, -5);
$light-500: lab(90, 0, -6);
$light-400: lab(85, 0, -7);
$light-300: lab(80, 0, -8);
$light-200: lab(75, 0, -9);
$light-100: lab(70, 0, -10);

// Desaturated Dark
$dark-600: lab(5, 0, -5);
$dark-500: lab(10, 0, -6);
$dark-400: lab(15, 0, -7);
$dark-300: lab(20, 0, -8);
$dark-200: lab(25, 0, -9);
$dark-100: lab(30, 0, -10);
