
//
// Inter by rsms
// https://rsms.me/inter/
//

$font-inter: 'Inter', sans-serif;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter-3.18/Inter-roman.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter-3.18/Inter-italic.var.woff2') format('woff2');
}

//
// Source Code Pro by Adobe
// https://github.com/adobe-fonts/source-code-pro
//

$font-mono: 'Source Code Pro', monospace;

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/SourceCodePro-1.018/SourceCodePro-roman.var.otf') format('opentype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/SourceCodProe-1.018/SourceCodePro-italic.var.otf') format('opentype');
}
