
$icon-link: ic-link-24px($primary);
$icon-unlink: ic-link-off-24px($primary);
$icon-copy: ic-content-copy-24px($white);

.arrows {
  flex: 1 0 44px;
  border-radius: 0 4px 4px 0;
  background: $dark-400;

  div {
    width: 44px;
    height: 22px;
    cursor: pointer;

    &:hover {
      background: $dark-300;
    }
  }
}

.home {
  input {
    border: 2px solid $dark-500;
    border-radius: 4px;
    outline: none;
    font: 400 24px/40px sans-serif;
    text-indent: 18px;
    background: $dark-500;

    &::placeholder {
      color: $dark-100;
    }

    &:focus {
      border-color: $primary;
    }
  }
}

.link {
  flex: 1 0 48px;
  background: url($icon-link) center no-repeat;

  &.-unlink {
    background-image: url($icon-unlink);
  }
}

//
//
//

.dimensions {
  display: flex;
}

.dimensions > input {
  min-width: 0;
}

.dimensions > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

//
//
//

.ratios {
  padding: 24px 0;
}

.row {
  display: flex;

  + .row {
    padding: 12px 0 0;
  }
}

.placeholder {
  display: flex;

  > button {
    padding: 0 12px 0 (48px - 6px);
    border-radius: 0 4px 4px 0;
    font: 600 14px/44px sans-serif;
    background: $primary url($icon-copy) 12px no-repeat;
    cursor: pointer;
  }

  > input {
    flex: 1;
    border-width: 2px 0 2px 2px;
    border-radius: 4px 0 0 4px;
    font: 400 14px/16px sans-serif;
  }
}

.button {
  flex: 1;
  border-radius: 4px;
  font: 400 14px/36px sans-serif;
  text-align: center;
  background: $dark-300;
  cursor: pointer;

  + .button {
    margin: 0 0 0 12px;
  }

  &:hover {
    background: $dark-100;
  }

  &.-active {
    font-weight: 600;
    background: $primary;
  }
}
